.loginbutton{
    display: flex;
    text-align: center;
    margin: 40px;
    border-radius: 10px 20px 30px 40px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;

}