<ion-header>
  <ion-toolbar>
    <ion-button class="voltar" color="--ion-background-color:#323131;" routerLink="/tela-principal">
      <img id="img_voltar" src="assets/imagens/voltar.png" alt="">
    </ion-button>
    <img class="logo" src="assets/imagens/logo.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  <div class="container">
    <img src="assets/imagens/creme.png" alt="">
    <h3><b>Vendas</b></h3>
    <div class="line"></div>
    <div class="produtos-line1">
      <h6><b>Kit GB Men <br> Fresh Banho</b></h6>
        <img src="assets/imagens/kit-gb.png" alt="">
        <h6><b>R$126,50</b></h6>
    </div>

    <div class="line2"></div>
  </div>

  

</ion-content>
