<ion-header>
  <ion-toolbar>
    <ion-button class="voltar" color="--ion-background-color:#323131;" routerLink="/tela-principal">
      <img id="img_voltar" src="assets/imagens/voltar.png" alt="">
    </ion-button>
    <img class="logo" src="assets/imagens/logo.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  <!-- <div> começo da tela cabelo -->
    <div class="title">
      <img src="assets\imagens\CorteCabelo.png" alt="">
      <ion-label>Cabelo</ion-label>
    </div>
    
    <div class="itens">
      <!-- Corte Undercut -->
    <ion-item button detail-icon="false" lines="full" class="field">
      <ion-label> 
        <h3>Corte Undercut</h3> 
        <h5>Laterais e nuca raspadas, <br> o topo deixando bastante <br> volume.</h5>
      </ion-label>
      <ion-note slot="end">R$25</ion-note>
      </ion-item>

      <!-- Corte Militar -->
      <ion-item button class="field" detail-icon="false">
        <ion-label> <h3>Corte Militar</h3>
           <h5>Topo e laterais com pouco <br> volume.</h5> 
        </ion-label>
        <ion-note slot="end">R$20</ion-note>
       </ion-item>

       <!-- Corte Pompadour -->
       <ion-item button class="field" detail-icon="false">
        <ion-label> <h3>Corte Pompadour</h3>
           <h5>Topete frontal com volume <br> e laterais um pouco mais <br> longas.</h5> 
        </ion-label>
        <ion-note slot="end">R$30</ion-note>
       </ion-item>

       <!-- Corte Mullet Style -->
       <ion-item button class="field" detail-icon="false">
        <ion-label> <h3>Corte Mullet Style</h3>
           <h5>Fios mais longos e <br> volumosos atrás  do cabelo <br> e laterais raspadas.</h5> 
        </ion-label>
        <ion-note slot="end">R$30</ion-note>
       </ion-item>

       <!-- Corte Desfiado -->
       <ion-item button class="field" detail-icon="false">
        <ion-label> <h3>Corte Desfiado</h3>
           <h5>Fios mais irregulares, <br> sendo o cabelo todo ou só <br> a franja.</h5> 
        </ion-label>
        <ion-note slot="end">R$25</ion-note>
       </ion-item>

       <!-- corte Disfarçado -->
       <ion-item button class="field" detail-icon="false">
        <ion-label> <h3>Corte Disfarçado</h3>
           <h5>Laterais curtas, degradê <br> discreto até a nuca e volume <br> no topo da cabeça.</h5> 
        </ion-label>
        <ion-note slot="end">R$30</ion-note>
       </ion-item>

       <!-- Corte Social -->
       <ion-item button class="field" detail-icon="false">
        <ion-label> <h3>Corte Social</h3>
           <h5>Laterais e nucas baixas <br> e o topo mais longo.</h5> 
        </ion-label>
        <ion-note slot="end">R$20</ion-note>
       </ion-item>

       <!-- Corte Razor Part -->
       <ion-item button class="field" detail-icon="false">
        <ion-label> <h3>Corte Razor Part</h3>
           <h5>Risca em uma das laterais e <br> a marcação evidente.</h5> 
        </ion-label>
        <ion-note slot="end">R$30</ion-note>
       </ion-item>

       <!-- Corte Asa Delta -->
       <ion-item button class="field" detail-icon="false">
        <ion-label> <h3>Corte Asa Delta</h3>
           <h5>Repicado e a franja mais <br> longa e pontuda.</h5> 
        </ion-label>
        <ion-note slot="end">R$25</ion-note>
       </ion-item>

       <!-- Corte Baixo -->
       <ion-item button class="field" detail-icon="false">
        <ion-label> <h3>Corte Baixo</h3>
           <h5>Fios baixos, usando a <br> máquininha.</h5> 
        </ion-label>
        <ion-note slot="end">R$15</ion-note>
       </ion-item>
      </div>

  <!-- </div> Final da tela cabelo -->
  </ion-content>
