.body{
    position: relative;
    --ion-background-color: #fff;
}

.voltar{
    position: relative;
    top: -30px;
    left: -10px;
    width: 80px;
    height: 3vh;
}

.logo{
    position: relative;
    margin-top: 10px;
    left: 3rem;
    width: 55px;
    height: 55px;
}

#contato{
    display: flex;
    position: absolute;
    justify-content: center;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 42px;
    height: 50px;
    width: 320px;
    top: 20px;
}

.lines1{
    position: absolute;
    width: 280px;
    height: 0px;
    left: 20px;
    top: 80px;
    border: 1px solid #000000;
}

#imagem{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    top: 6px;
    left: 30px;
}

#container{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    line-height: 42px;  
    
    flex-direction: column;
    flex-wrap: wrap;

    row-gap: 30px;
    column-gap: 30px;

    top: 70px;

    height: 490px;
    width: 370px;
}

#container div{
    position: relative;
    width: 240px;
    left: 30px;
}

.titulo{
    font-size: 1.3rem;
}
.dividir{
    text-align:  center;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 540;
    line-height: 42px;  
    font-size: 20px;
}