<ion-header>
  <ion-toolbar>
    <ion-button class="voltar" color="--ion-background-color:#323131;" routerLink="/tela-comprar">
      <img id="img_voltar" src="assets/imagens/voltar.png" alt="">
    </ion-button>
    <img class="logo" src="assets/imagens/logo.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  <div class="container">
    <img class="confirma" src="assets/imagens/confirma.png">
  </div>

  <div class="title"> 
    <H1 class="text">Pagamento <br> Concluído!!!</H1>
  </div>

</ion-content>
