<ion-header>
  <ion-toolbar>
    <ion-button class="voltar" color="--ion-background-color:#323131;" routerLink="/tela-principal" (click)="tela()">
      <img id="img_voltar" src="assets/imagens/voltar.png" alt="">
    </ion-button>
    <img class="logo" src="assets/imagens/logo.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  <div *ngIf="editMode == 1">
    <div class="title">
        <h3><b>AGENDAMENTO</b></h3>
        <div class="line"></div>
    </div>

    <div class="calendario">
      <ion-datetime locale="pt-br" minuteValues="0,30" hourValues="8,9,10,15,16,17">
        <span slot="time-label">Selecione o Horário:</span>
      </ion-datetime>
      <div class="line"></div>
    </div>

    <div class="agendar">
      <ion-button color=" --ion-background-color: #fff;" (click)="edit()" >Confirmar</ion-button>
    </div>
  </div>

  <div *ngIf="editMode == 2">

    <div class="title">
      <h3><b>AGENDAMENTO</b></h3>
      <div class="line"></div>
  </div>

  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>Lucas Carvalho De Souza
{{nome}}
    </ion-label>
  
  </ion-item>
<label class="lobelid" >#00385</label>

    <ion-list>   
        <h1 class="Titonlo">Cabelo</h1>
        <ion-item>
          <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Selecione o Cabelo">
            <ion-select-option value="Corte Undercut">Corte Undercut</ion-select-option>
            <ion-select-option value="Corte Militar">Corte Militar</ion-select-option>
            <ion-select-option value="Corte Pompadour">Corte Pompadour</ion-select-option>
            <ion-select-option value="Corte Mullet Style">Corte Mullet Style</ion-select-option>
            <ion-select-option value="Corte Desfiado">Corte Desfiado</ion-select-option>
            <ion-select-option value="Corte Disfarçado">Corte Disfarçado</ion-select-option>
            <ion-select-option value="Corte Razor Part">Corte Razor Part</ion-select-option>
            <ion-select-option value="Corte Asa Delta">Corte Asa Delta</ion-select-option>
            <ion-select-option value="Corte Baixo">Corte Baixo</ion-select-option>
            <ion-select-option value="Corte Social">Corte Social</ion-select-option>
          </ion-select>
        </ion-item>


        <h1 class="Titonlo">Barba</h1>
        <ion-item>
          <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Selecione a Barba">
            <ion-select-option value="Barba Tradiconal">Barba Tradiconal</ion-select-option>
            <ion-select-option value="Cavanhaque">Cavanhaque</ion-select-option>
            <ion-select-option value="Barba Arredondada">Barba Arredondada</ion-select-option>
            <ion-select-option value="Barba Degradê">Barba Degradê</ion-select-option>
            <ion-select-option value="Van Dyke">Van Dyke</ion-select-option>
            <ion-select-option value="Barba Encaixada">Barba Encaixada</ion-select-option>
            <ion-select-option value="Balbo">Balbo</ion-select-option>
            <ion-select-option value="Barba Lenhador">Barba Lenhador</ion-select-option>
            <ion-select-option value="Bigode Original">Bigode Original</ion-select-option>
            <ion-select-option value="Costeletas Evidentes">Costeletas Evidentes</ion-select-option>
        </ion-select>
      </ion-item>


     
        <h1 class="Titonlo">Tintura</h1>
     
      <ion-item>
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Selecione a Tintura">
          <ion-select-option value="Tintura Permanente">Tintura Permanente</ion-select-option>
          <ion-select-option value="Tintura Temporária">Tintura Temporária</ion-select-option>
          <ion-select-option value="Tonalizante">Tonalizante</ion-select-option>
          <ion-select-option value="Shampoo Colorante">Shampoo Colorante</ion-select-option>
          <ion-select-option value="Henna">Henna</ion-select-option>
        </ion-select>
      </ion-item>


    
        <h1 class="Titonlo">Depilação</h1>
    
      <ion-item>
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Selecione a Depilação">
          <ion-select-option value="Depilação c/ Cera">Depilação c/ Cera</ion-select-option>
          <ion-select-option value="Depilação c/ Pinça">Depilação c/ Pinça</ion-select-option>
          <ion-select-option value="Depilação c/ Lâmina">Depilação c/ Lâmina</ion-select-option>
      <ion-select-option value="Depilação c/ Creme">Depilação c/ Creme</ion-select-option>
      <ion-select-option value="Depilação c/ Linha">Depilação c/ Linha</ion-select-option>
    </ion-select>
  </ion-item>


 
    <h1 class="Titonlo" >Hidratação</h1>
 
  <ion-item>
    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Selecione a Hidratação">
      <ion-select-option value="Hidrat. Profunda">Hidrat. Profunda</ion-select-option>
      <ion-select-option value="Hidrat. c/ Queratina">Hidrat. c/ Queratina</ion-select-option>
      <ion-select-option value="Hidrat. c/ Cauterização">Hidrat. c/ Cauterização</ion-select-option>
      <ion-select-option value="Hidrat. c/ Óleos">Hidrat. c/ Óleos</ion-select-option>
      <ion-select-option value="Hidrat. c/ Silicone">Hidrat. c/ Silicone</ion-select-option>
      <ion-select-option value="Plástica de fios">Plástica de fios</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div class="pagamento">
  <h5>Opções de Pagamento</h5>

  <ion-item lines="none" routerLink="/tela-pix">
    <h6>Gerar Pix</h6>
  </ion-item>

  <ion-item lines="none" routerLink="#">
    <h6>Pagar no Local</h6>
  </ion-item>
</div>

<!-- <div class="agendar">
  <ion-button (click)="edit()"  color=" --ion-background-color: #fff;">Agendar</ion-button>
</div> -->

</div>



<div *ngIf="editMode == 3">
  <div class="container">
    <img class="confirma" src="assets/imagens/confirma.png">
  </div>
  
  <div class="title_3"> 
    <H1 class="text">Agendamento <br> Concluído!!!</H1>
  </div>    
</div>
</ion-content>
