<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <img src="assets/imagens/Studio Haircut 1.png" alt="">
    <div>
    <ion-button color="dark" class="loginbutton" routerLink="/tela-login">Já tenho uma conta</ion-button>
  </div>
  </div>
  <div>
    <ion-button color="dark" routerLink="/tela-cadas" class="loginbutton">Criar nova Conta</ion-button>
</div>
</ion-content>
