<ion-content class="body">

  <div class="title">
    <h1>Cadastro de <br> Adiministrador</h1>
  </div>

  <div class="container">
    <form #userSignUp="ngForm" (ngSubmit)="signUp(userSignUp.value)">
      <img src="assets/imagens/voltar.png" alt="seta_voltar" routerLink="/home" class="seta">

      <ion-label id="nome">Nome</ion-label>
      <img id="img_user" src="assets/imagens/user.png" alt="Usuário">
      <ion-input type="text" name="nome" ngModel id="input_name"></ion-input>

      <!-- <ion-item color="--ion-background-color:#323131;" class="valid_name" lines="none" *ngIf="(userForm.get('nome').errors?.required || userForm.get('nome').errors?.minLength(3) || userForm.get('nome').errors?.maxLength(20) || userForm.get('nome').errors?.pattern('[a-zA-Z]*') && userSignUp.submitted)"> 
        <ion-text color="danger">
          Nome Inválido
        </ion-text>
      </ion-item> -->
      <div id="lines1"></div>
      
      <ion-label id="senha">Senha</ion-label>
      <img id="img_senha" src="assets/imagens/senha.png" alt="Cadeado">
      
      <ion-input id="input_senha" name="senha" type="password" ngModel></ion-input>
      
      <img src="assets/imagens/olho_aberto.png" alt="olho" id="olho">
      <ion-checkbox></ion-checkbox>
      <!-- <ion-item color="--ion-background-color:#323131;" lines="none" class="valid_senha" *ngIf="(userForm.get('senha').errors?.required || userForm.get('senha').errors?.minLength(8) || userForm.get('senha').errors?.maxLength(16) && userSignUp.submitted)">
        <ion-text color="danger">
          Senha Inválida
        </ion-text>
      </ion-item> -->
      <div id="lines4"></div>
      
      <ion-button id="botao" color="--ion-background-color:#323131;" type="submit">Confirmar</ion-button>
    </form>
  </div>  
</ion-content>