<ion-header>
  <ion-toolbar>
    <ion-button class="voltar" color="--ion-background-color:#323131;" routerLink="/tela-principal">
      <img id="img_voltar" src="assets/imagens/voltar.png" alt="">
    </ion-button>
    <img class="logo" src="assets/imagens/logo.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="test">
    <ion-icon name="location-outline"></ion-icon>
    <ion-label>Localização</ion-label>
  </div>
  <div id="mapId" style="width: 90%; height: 50%"></div>
</ion-content>