<ion-content class="fundo">
  <div class="container">
    <ion-button id="voltar" color="--ion-background-color:#D9D9D9;" routerLink="/home">
      <img src="assets/imagens/voltar.png" alt="seta_voltar">
    </ion-button>
    
    <!-- nome -->
    <form>
    <ion-label id="nome">Nome</ion-label>
    <img id="img_user" src="assets/imagens/user.png" alt="Usuário">
    <ion-input id="input_name" name="nome" ></ion-input>
    <div id="lines1"></div>

    <!-- Email -->
    <ion-label id="email">E-mail</ion-label>
    <img id="img_email" src="assets/imagens/email.png" alt="Email"> 
    <ion-input id="input_email" name="email" ></ion-input>
    <div id="lines2"></div>

    <!-- Telefone -->
    <ion-label id="telefone">Telefone</ion-label>
    <img id="img_telefone" src="assets/imagens/telefone.png" alt="Telefone">
    <ion-input id="input_telefone" name="telefone" ></ion-input>
    <div id="lines3"></div>

     <!-- Senha -->
     <ion-label id="senha">Senha</ion-label>

     <img id="img_senha" src="assets/imagens/senha.png" alt="Cadeado">

     <ion-input id="input_senha" name="senha" type="password"></ion-input>

     <img src="assets/imagens/olho_aberto.png" alt="olho" id="olho">
     <ion-checkbox></ion-checkbox>
     
     <div id="lines4"></div>
  </div>
  <ion-button id="botao" color="--ion-background-color:#323131;" routerLink="/tela-login">Confirmar</ion-button>
</form>

</ion-content>
