<ion-header>
  <ion-toolbar>
    <ion-button mode="ios" class="voltar" color="--ion-background-color:#323131;" routerLink="/tela-principal">
      <img id="img_voltar" src="assets/imagens/voltar.png" alt="">
    </ion-button>
    <img class="logo" src="assets/imagens/logo.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content class="body">
 <!-- <div> começo da tela cabelo -->
  <div class="title">
    <img src="assets\imagens\barba.png" alt="">
    <ion-label>Barba</ion-label>
  </div>
  
  <div class="itens">
    <!-- Barba Tradiconal -->
  <ion-item mode="ios" button detail-icon="false" lines="full" class="field" routerLink="/tela-agenda">
    <ion-label> 
      <h3>Barba Tradiconal</h3> 
      <h5>Curto ou médio, mais <br> curto as laterais e <br> cheio no queixo.</h5>
    </ion-label>
    <ion-note slot="end">R$25</ion-note>
    </ion-item>

    <!-- Cavanhaque -->
    <ion-item mode="ios" button class="field" detail-icon="false" routerLink="/tela-agenda">
      <ion-label> <h3>Cavanhaque</h3>
         <h5>Pelos no bigode e queixo, <br> conectando as laterais <br> da boca.</h5> 
      </ion-label>
      <ion-note slot="end">R$20</ion-note>
     </ion-item>

     <!-- Barba Arredondada -->
     <ion-item mode="ios" button class="field" detail-icon="false" routerLink="/tela-agenda">
      <ion-label> <h3>Barba Arredondada</h3>
         <h5>Corte nas extremidades <br> e falta de pelos na  <br> bochecha.</h5> 
      </ion-label>
      <ion-note slot="end">R$20</ion-note>
     </ion-item>

     <!-- Barba Degradê -->
     <ion-item mode="ios" button class="field" detail-icon="false" routerLink="/tela-agenda">
      <ion-label> <h3>Barba Degradê</h3>
         <h5>Começam curtos nas<br>  costeletas e crescem <br> gradualmente.</h5> 
      </ion-label>
      <ion-note slot="end">R$20</ion-note>
     </ion-item>

     <!-- Van Dyke -->
     <ion-item mode="ios" button class="field" detail-icon="false" routerLink="/tela-agenda">
      <ion-label> <h3>Van Dyke </h3>
         <h5>Bigode e cavanhaque <br> seprados, com os fios<br> mais compridos.</h5> 
      </ion-label>
      <ion-note slot="end">R$30</ion-note>
     </ion-item>

     <!-- Barba Encaixada -->
     <ion-item mode="ios"button class="field" detail-icon="false" routerLink="/tela-agenda"> 
      <ion-label> <h3>Barba Encaixada</h3>
         <h5>Contorno nas extremidades, <br> menos pelos na bochecha e  <br> laterais finais e aparadas.</h5> 
      </ion-label>
      <ion-note slot="end">R$30</ion-note>
     </ion-item>

     <!-- Balbo -->
     <ion-item mode="ios" button class="field" detail-icon="false" routerLink="/tela-agenda">
      <ion-label> <h3>Balbo</h3>
         <h5>Sem costeletas e bigode <br> aparado e suspenso.</h5> 
      </ion-label>
      <ion-note slot="end">R$20</ion-note>
     </ion-item>

     <!-- Barba Lenhador -->
     <ion-item mode="ios" button class="field" detail-icon="false" routerLink="/tela-agenda">
      <ion-label> <h3>Barba Lenhador</h3>
         <h5>Fios apontados no rosto <br> e longos e encorpados <br>em sua extensão.</h5> 
      </ion-label>
      <ion-note slot="end">R$30</ion-note>
     </ion-item>

     <!-- Bigode Original -->
     <ion-item mode="ios" button class="field" detail-icon="false" routerLink="/tela-agenda">
      <ion-label> <h3>Bigode Original</h3>
         <h5>Bem aparado, acima  <br> do lábio superior.</h5> 
      </ion-label>
      <ion-note slot="end">R$20</ion-note>
     </ion-item>

     <!-- Costeletas Evidentes -->
     <ion-item mode="ios" button class="field" detail-icon="false" routerLink="/tela-agenda">
      <ion-label> <h3>Costeletas Evidentes</h3>
         <h5>Costeletas compridas e <br>  unidas ao bigode, <br>queixo raspado.</h5> 
      </ion-label>
      <ion-note slot="end">R$25</ion-note>
     </ion-item>
    </div>
</ion-content>
