<ion-header>
  <ion-toolbar>
    <ion-button class="voltar" color="--ion-background-color:#323131;" routerLink="/tela-principal">
      <img id="img_voltar" src="assets/imagens/voltar.png" alt="">
    </ion-button>
    <img class="logo" src="assets/imagens/logo.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  <h3>Sérum Crescimento Capilar</h3>

  <div class="produto">
    <img src="assets/imagens/serum.png" alt="">
    <h4>R$60,90</h4>
    <p> <br> Sérum De Crescimento Capilar Masculino X E6801 30 Ml <br> Sérum C</p>
  </div>

  <!-- Aumentar ou Diminuir a Quantidade de itens -->
  <div class="quant">
    <ion-button color="--ion-background-color: #fff;">
    <ion-icon name="remove-circle-outline"></ion-icon>
  </ion-button>
    <p>1x</p>
    <ion-button color="--ion-background-color: #fff;">
    <ion-icon name="add-circle-outline"></ion-icon>
  </ion-button>
</div>

<div class="lines">
  <div class="line"></div>
</div>

<!-- Opções de Envio -->
<div class="envio">
  <h5>Opções de Envio</h5>
  <div class="pac">
    <h6>PAC</h6>
    <ion-item lines="none" routerLink="#">
      <p>Calcule o Frete</p>
    </ion-item>
  </div>

  <div class="sedex">
    <h6>SEDEX</h6>
    <ion-item lines="none" routerLink="#">
      <p>Calcule o Frete</p>
    </ion-item>
  </div>
</div>

<div class="lines2">
  <div class="line2"></div>
</div>

<div class="pagamento">
  <h5>Opções de Pagamento</h5>

  <ion-item lines="none" routerLink="#">
    <h6>Pix</h6>
  </ion-item>

  <ion-item lines="none" routerLink="#">
    <h6>Boleto Bancário</h6>
  </ion-item>

  <ion-item lines="none" routerLink="#">
    <h6>Cartão de Crédito</h6>
  </ion-item>
</div>

<div class="lines3">
  <div class="line3"></div>
</div>

<div class="detalhes-pagamento">
  <h5>Detalhes do Pagamento</h5>

  <div class="sub-total-prod">
    <h6>Subtotal dos Produtos</h6>
    <p>R$60,90</p>
  </div>

  <div class="sub-total-frete">
    <h6>Subtotal do Frete</h6>
    <p>R$7,90</p>
  </div>

  <div class="total">
    <h5>Pagamento Total</h5>
    <p>R$68,80</p>
  </div>
</div>

<div class="finalizar">
  <ion-button color="--ion-background-color: #323131;" routerLink="/tela-concluido">Finalizar Pedido</ion-button>
</div>

</ion-content>
