<ion-header>
  <ion-toolbar>
    <ion-button class="voltar" color="--ion-background-color:#323131;" routerLink="/tela-agenda">
      <img id="img_voltar" src="assets/imagens/voltar.png" alt="">
    </ion-button>
    <img class="logo" src="assets/imagens/logo.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  <div class="logoBarber">
    <img class="studio" src="assets/imagens/Studio Haircut 1.png" alt="">
    <img class="pix" src="assets/imagens/logo_pix.png" alt="">
  </div>

  <div class="linhas">
    <div class="line"></div>
  </div>

  <div class="content">
    <h1>Código do Pix gerado!</h1>

    <p>Use os dados abaixo para concluir o seu pagamento:</p>

    <img class="qrcode" src="assets/imagens/qrcode-pix.png" alt="">
    <h6>00020126450014BR.GOV.BCB.PIX0123studiohaircut@gmail.com5204000053039865802BR5925Studio HairCut BarberShop6012Pouso Alegre62070503***63041D65</h6>

    <ion-button color=" --ion-background-color: #fff;">Copiar Código</ion-button>
  </div>
  
</ion-content>
