<ion-header>
  <ion-toolbar>
    <ion-button class="voltar" color="--ion-background-color:#323131;" routerLink="/tela-principal">
      <img id="img_voltar" src="assets/imagens/voltar.png" alt="">
    </ion-button>
    <img class="logo" src="assets/imagens/logo.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  <div id="redes_sociais">Redes Sociais</div>
  <div class="lines1"></div>

  <div id="container">
    <ion-col><div class="dividir">Entre em contato com nosso serviço de atendimento</div></ion-col>
    <ion-item class="email" lines="none">
      <ion-grid>
        <ion-row>
          <ion-col size="auto"><ion-icon id="imagem" name="logo-facebook"></ion-icon></ion-col>
          <ion-col><div class="titulo">Facebook</div></ion-col>
          <ion-col><div>studio haircut barbershop</div></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </div>

</ion-content>