<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-wrapper">
    <div class="center" size-xs="10" size-sm="6" size-md="4" size-lg="3">
      <ion-img class="logo" src="/assets/image/logo.png" alt="logo"></ion-img>
      <h6 class="titulo">Loja Skate Club</h6>
      <small>Faça seu Cadastro</small>
      
      <form #userSignUp="ngForm" (ngSubmit)="signUp(userSignUp.value)">
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input type="text" name="nome" ngModel placeholder="Enter name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" name="email" ngModel placeholder="Enter email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" name="senha" ngModel placeholder="Enter password"></ion-input>
        </ion-item>
        <div class="buttons">
          
          <ion-button expand="block" color="primary" type="submit">Registrar</ion-button>
      
        </div>
      </form>
    </div>
  </div>
</ion-content>
